{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Фамилия:</strong> {{ surname }}</li>
        <li class="list-group-item"><strong>Имя:</strong> {{ name }}</li>
        <li class="list-group-item"><strong>Образование:</strong> {{ education }}</li>
        <li class="list-group-item"><strong>Профессия:</strong> {{ profession }}</li>
        <li class="list-group-item"><strong>Пол:</strong> {{ sex }}</li>
        <li class="list-group-item"><strong>Мотивация:</strong> {{ motivation }}</li>
        <li class="list-group-item"><strong>Готовы остаться на Марсе?</strong> {{ ready }}</li>
    </ul>
{% endblock %}
