<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="display-4">Мое предложение: {{ planet_name }}</h1>
    <p class="lead">Эта планета — идеальное место для начала освоения космоса. Вот несколько причин:</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">1. Она близка к Земле;</li>
        <li class="list-group-item list-group-item-secondary">2. На ней есть много необходимых ресурсов;</li>
        <li class="list-group-item list-group-item-success">3. У нее есть вода и атмосфера;</li>
        <li class="list-group-item list-group-item-danger">4. У нее есть магнитное поле;</li>
        <li class="list-group-item list-group-item-warning">5. Она просто красивая!</li>
    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
