{% extends "base.html" %}

{% block content %}
    <h2>Пейзажи Марса</h2>
    <div class="row">
        {% for image in images %}
            <div class="col-md-4 mb-3">
                <img src="{{ url_for('static', filename='uploads/' ~ image) }}" class="img-fluid" alt="Пейзаж Марса">
            </div>
        {% endfor %}
    </div>

    <h2>Загрузить новое изображение</h2>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Выберите изображение</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}
