{% extends "base.html" %}

{% block content %}
    <h2>Случайный член экипажа</h2>
    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename=member.photo) }}" class="card-img-top" alt="{{ member.name }} {{ member.surname }}">
        <div class="card-body">
            <h5 class="card-title">{{ member.name }} {{ member.surname }}</h5>
            <p class="card-text">Профессии:</p>
            <ul>
                {% for profession in member.professions|sort %}
                    <li>{{ profession }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
